
faiss-cpu                
langchain                
langchain-community      
langchain-core           
langchain-openai         
langchain-text-splitters 
langsmith                          
markdown-it-py          
MarkupSafe             
marshmallow               
mdurl                   
menuinst              
multidict            
mypy-extensions    
numpy                   
openai                   
orjson                    
packaging               
pandas                   
pillow                   
pip                      
platformdirs             
pluggy                    
protobuf                 
pyarrow                  
pycosat                 
pycparser              
pydantic              
pydantic_core           
pydeck                  
Pygments                  
PyPDF2                  
PySocks              
python-dateutil           
python-dotenv            
pytz                   
PyYAML                 
referencing           
regex                     
requests                 
rich               
rpds-py                 
ruamel.yaml               
setuptools              
six                      
smmap                 
sniffio               
SQLAlchemy             
streamlit             
tenacity               
tiktoken                  
toml                    
toolz                    
tornado                  
tqdm                      
truststore              
typing_extensions         
typing-inspect           
tzdata                   
urllib3                   
wheel                    
yarl                      
zstandard                 