
faiss-cpu                
langchain                
langchain-community      
langchain-core           
langchain-openai         
langchain-text-splitters 
langsmith                          
numpy                   
openai                              
pandas                                  
PyPDF2                          
python-dotenv                           